---
apiVersion: v1
kind: Service
metadata:
  name: deployer
spec:
  ports:
    - name: http
      port: 8081
      protocol: TCP
      targetPort: 8081
  selector:
    app: deployer
  type: ClusterIP
